Body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2c3e50;
    padding:15px;
    color:white;
    position:fixed;
    width:100%;
    top:0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:40px;
}

.menu a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

/* HERO */
.hero{
    margin-top:70px;
    height:250px;
    background:linear-gradient(to right,#2c3e50,#3498db);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

/* CONTAINER */
.container{
    display:flex;
    padding:20px;
}

/* SIDEBAR */
aside{
    flex:1;
    background:white;
    padding:15px;
    margin-right:20px;
}

/* MAIN */
section{
    flex:3;
}

/* SEARCH */
.search-box{
    display:flex;
    margin-bottom:15px;
}

.search-box input{
    flex:1;
    padding:10px;
}

.search-box button{
    padding:10px;
    background:#2c3e50;
    color:white;
    border:none;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
}

.card{
    background:white;
    padding:10px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th, td{
    padding:10px;
    border:1px solid #ddd;
}

tr:nth-child(even){
    background:#f2f2f2;
}

table img{
    width:70px;
    border-radius:5px;
}

/* FORM */
form{
    background:white;
    padding:20px;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}

/* BUTTON */
button{
    padding:10px;
    background:#2c3e50;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#34495e;
}

/* FOOTER */
footer{
    display:flex;
    justify-content:space-around;
    background:#2c3e50;
    color:white;
    padding:15px;
    margin-top:20px;
}

/* RESPONSIVE */
@media(min-width:768px){
    .grid{
        grid-template-columns:1fr 1fr;
    }
}

@media(min-width:1024px){
    .grid{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}